.card1 {
    
    
    margin-left: 500px;
    text-align: center;
    width: 30%;
    
}

.card1 h2{
    padding-bottom: 10%;
}
.login2 {
    padding-bottom: 10%;
    
}
.login3 {
    padding-bottom: 10%;
}
.login4 {
    background-color: blueviolet;
    text-align: center;
}
.login5{
    padding-bottom: 10%;
}

