
    
  .tool1{ 
    margin-left: 500px;
    text-align: center;
    width: 30%;
    
}

.tool1 h2{
    padding-bottom: 10%;
}
.login2 {
    padding-bottom: 10%;
    
}
.login3 {
    padding-bottom: 10%;
}
.tool2 {
    background-color:pink;
    text-align: center;
}