.upload0 {
    text-align: center;
    padding-bottom: 30px;
}
.upload1{
    text-align: center;
    padding-bottom: 30px;
}
.upload2{
    text-align: center;
    padding-bottom: 30px;

}
.upload3{
    text-align: center;
    padding-bottom: 30px;
}
.upload4{
    text-align: center;
    padding-bottom: 30px;
}
.upload5{
    padding: 80px;
    text-align: center;
    
    
}
.upload6{
    margin-left: 300px;
    padding: 30px;
    margin-right: 300px;
}